<!--- <h1>{{title}}</h1> ¿de donde sale title? --->

<!---Trabajo de mañana: 
1) Cambiar el fondo del jumbortón por cebaditas. 
2) Cambiar la fuente: Montserrat? 
4) Ver por qué fuck no está cargando el Logo. (ni el alt text?) ¿.png maybe?
5) Ver como diantres se ajusta el color, la transparencia y shadows en bootstrap; color code #EB8B1E
6) Diseñar íconos de mandar, fabricar y recibir.
7) Apicar layout a todo app. 
8) Salvar npm de bootstrap
 --->
 
<!---<div class = "logoDiv">
<img src="/images/yocervezo.png" class="align-self-center" id = "logoYc" height="75" width="450" alt="yocervezo.com"></img>
</div>--->
  
  <div class="jumbotron" >
  <h1 class="display-4">La mejor cerveza. </h1>
  <h1>Tu cerveza.</h1>
  <hr>
  <p class="lead"> Creémos nuevas cervezas, y experimentemos la diversidad cervecera.</p>
 </div>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
       <img src="/images/try.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Registrate</h5>
        <p class="card-text">Registrate y llena el cuestionario, que nos ayudará a conocerte a ti y a las cervezas que te gustan.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/send.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envianos tu receta</h5>
        <p class="card-text">Cuando estés listo, envia el formulario de receta con los tipos de malta, lúpulo y extras que quieres en tu cerveza.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/cook.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">La fabricamos</h5>
        <p class="card-text"> Déjalo todo en nuestras manos. Con los ingredientes que pediste, nuestros expertos cerveceros fabricaran tu cerveza.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/drink.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recíbela y disfruta</h5>
       <p class="card-text"> Tu cerveza llegará embotellada a la puerta de tu casa, lista para que la compartas con tus amigos. Cuando te la acabes, cuéntanos qué te pareció.</p>
      </div>
    </div>
  </div>
</div>

  <hr>
  <container class="btn-container">
  <p class="lead">
      <a href="/login"><button class="btn-index">Ya cervezo</button></a>
      <a href="/signup"><button class="btn-index">Aún no cervezo</button></a>
      <a href="/about"><button class="btn-index">Quiénes somos</button></a>
  </p>
  </container>

   <!--- <h2>
      <em>Cervezar. v.</em> <br>
      <span class="etimologia">(Del sust. cerveza, a su vez del celtolat. cerevisĭa).</span> <br>
      <ol class="definiciones">
        <li>Crear una nueva cerveza.</li>
        <li>Condensar los gustos y la personalidad propia en forma de bebida fermentada.</li>
        <li>Compartir las cervezas creadas con amistades cercanas.</li>
        <li>Celebrar la diversidad cervecera.</li>
      </ol>
    </h2>
  </div
  {{!--
  Placeholder for cool beer image
  This image should only be displayed in horizontal tablet or larger
  --}}
</section>
<section class="segmentacion">
  <div class="btn-container">
    
    {{!-- <button>Cervezo y emprendo</button> --}}
    
  
  </div>
</section>
<section class="conjugacion">
  <div class="conjugacion-message">
    Aquí va un mensaje chido
  </div>
  <table class="tabla-conjugacion">
    <thead>
      <th></th>
      <th>Sing.</th>
      <th>Plur.</th>
    </thead>
    <tbody>
      <tr>
        <td>1a. Pers.</td>
        <td>Yo <strong>cervezo</strong></td>
        <td>Nosotros <strong>cervezamos</strong></td>
      </tr>
      <tr>
        <td>2a. Pers.</td>
        <td>Tú <strong>cervezas</strong></td>
        <td>Ustedes <strong>cervezan</strong></td>
      </tr>
      <tr>
        <td>3a. Pers.</td>
        <td>
          Ella <strong>cerveza</strong><br>
          Él <strong>cerveza</strong> <br>
        <td> Ellos <strong>cervezan</strong></td>
      </tr>
    </tbody>
  </table>
</section>>--->