<h1>{{title}}</h1>

<section class="dictionary-card">
  <div class="dictionary-entry">
    <h2>
      <em>Cervezar. v.</em> <br>
      <span class="etimologia">(Del sust. cerveza, a su vez del celtolat. cerevisĭa).</span> <br>
      <ol class="definiciones">
        <li>Crear una nueva cerveza.</li>
        <li>Condensar los gustos y la personalidad propia en forma de bebida fermentada.</li>
        <li>Compartir las cervezas creadas con amistades cercanas.</li>
        <li>Celebrar la diversidad cervecera.</li>
      </ol>
    </h2>
  </div>
  {{!--
  Placeholder for cool beer image
  This image should only be displayed in horizontal tablet or larger
  --}}
</section>
<section class="segmentacion">
  <div class="btn-container">
    <button class="btn-index">Ya cervezo</button>
    {{!-- <button>Cervezo y emprendo</button> --}}
    <button class="btn-index">Aún no cervezo</button>
    <button class="btn-index--burgundy">Quiénes somos</button>
  </div>
</section>
<section class="conjugacion">
  <div class="conjugacion-message">
    Aquí va un mensaje chido
  </div>
  <table class="tabla-conjugacion">
    <thead>
      <th></th>
      <th>Sing.</th>
      <th>Plur.</th>
    </thead>
    <tbody>
      <tr>
        <td>1a. Pers.</td>
        <td>Yo <strong>cervezo</strong></td>
        <td>Nosotros <strong>cervezamos</strong></td>
      </tr>
      <tr>
        <td>2a. Pers.</td>
        <td>Tú <strong>cervezas</strong></td>
        <td>Ustedes <strong>cervezan</strong></td>
      </tr>
      <tr>
        <td>3a. Pers.</td>
        <td>
          Ella <strong>cerveza</strong><br>
          Él <strong>cerveza</strong> <br>
        <td> Ellos <strong>cervezan</strong></td>
      </tr>
    </tbody>
  </table>
</section>
<footer>
  <div class="footer-message">
  Created for Ironhack.
  </div>
</footer>