<!--- <h1>{{title}}</h1> ¿de donde sale title? --->

<!---Trabajo de mañana: 
1) Cambiar el fondo del jumbortón por cebaditas. 
7) Apicar layout a todo app. 
 --->
 
<!---<div class = "logoDiv">
<img src="/images/yocervezo.png" class="align-self-center" id = "logoYc" height="75" width="450" alt="yocervezo.com"></img>
</div>--->
  
  <div class="jumbotron" >
  <h1 class="display-4">La mejor cerveza. </h1>
  <h1>Tu cerveza.</h1>
  <hr>
  <p class="lead"> Creémos nuevas cervezas, y experimentemos la diversidad cervecera.</p>
 </div>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
       <img src="/images/try.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Regístrate</h5>
        <p class="card-text">Regístrate y llena el cuestionario para conocerte a ti y a las cervezas que te gustan.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/send.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Envíanos tu receta</h5>
        <p class="card-text">Cuando estés listo, envía el formulario de receta con los tipos de malta, lúpulo y extras que quieres en tu cerveza.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/cook.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">La fabricamos</h5>
        <p class="card-text"> Déjalo todo en nuestras manos. Con los ingredientes que pediste, nuestros expertos cerveceros fabricarán tu cerveza.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img src="/images/drink.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recíbela y disfruta</h5>
       <p class="card-text"> Tu cerveza llegará embotellada a la puerta de tu casa, lista para que la compartas con tus amigos. Cuando te la acabes, cuéntanos qué te pareció.</p>
      </div>
    </div>
  </div>
</div>

  <hr>
  <container class="btn-container">
  <p class="lead">
      <a href="/login"><button class="btn-index">Ya cervezo</button></a>
      <a href="/signup"><button class="btn-index">Aún no cervezo</button></a>
      <a href="/beers"><button class="btn-index">Nuestras cervezas</button></a>
  </p>
  </container>