<!--- <h1>{{title}}</h1> ¿de donde sale title? --->

<!---Trabajo de mañana: 
1) Cambiar el fondo del jumbortón por cebaditas. 
2) Cambiar la fuente: Montserrat? 
4) Ver por qué fuck no está cargando el Logo. (ni el alt text?) ¿.png maybe?
5) Ver como diantres se ajusta el color y la transparencia en bootstrap; color code #EB8B1E
 --->
<img src="/img/yocervezo.png" id = "logoYc" height="50" width="150"></img>

<section class="dictionary-card">
  <div class="jumbotron">
 <h1 class="display-4">La mejor cerveza, tu cerveza!</h1>
  <p class="lead">Celebremos la diversidad cervecera, creémos nuevas cervezas, y fermentemos nuestras personalidades.</p>
  <hr class="my-4">
  <p>Mándanos tu receta</p>
  <p>La fabricamos</p>
  <p>¡Recíbela y disfruta!</p>
  <p class="lead">
      <a href="/login"><button class="btn-index">Ya cervezo</button></a>
      <a href="/signup"><button class="btn-index">Aún no cervezo</button></a>
      <a href="/about"><button class="btn-index--burgundy">Quiénes somos</button></a>
  </p>

   <!--- <h2>
      <em>Cervezar. v.</em> <br>
      <span class="etimologia">(Del sust. cerveza, a su vez del celtolat. cerevisĭa).</span> <br>
      <ol class="definiciones">
        <li>Crear una nueva cerveza.</li>
        <li>Condensar los gustos y la personalidad propia en forma de bebida fermentada.</li>
        <li>Compartir las cervezas creadas con amistades cercanas.</li>
        <li>Celebrar la diversidad cervecera.</li>
      </ol>
    </h2>
  </div>--->
  {{!--
  Placeholder for cool beer image
  This image should only be displayed in horizontal tablet or larger
  --}}
</section>
<section class="segmentacion">
  <div class="btn-container">
    
    {{!-- <button>Cervezo y emprendo</button> --}}
    
  
  </div>
</section>
<section class="conjugacion">
  <div class="conjugacion-message">
    Aquí va un mensaje chido
  </div>
  <table class="tabla-conjugacion">
    <thead>
      <th></th>
      <th>Sing.</th>
      <th>Plur.</th>
    </thead>
    <tbody>
      <tr>
        <td>1a. Pers.</td>
        <td>Yo <strong>cervezo</strong></td>
        <td>Nosotros <strong>cervezamos</strong></td>
      </tr>
      <tr>
        <td>2a. Pers.</td>
        <td>Tú <strong>cervezas</strong></td>
        <td>Ustedes <strong>cervezan</strong></td>
      </tr>
      <tr>
        <td>3a. Pers.</td>
        <td>
          Ella <strong>cerveza</strong><br>
          Él <strong>cerveza</strong> <br>
        <td> Ellos <strong>cervezan</strong></td>
      </tr>
    </tbody>
  </table>
</section>