
<form action="/onboard" id="onBoard">Contesta</form>

<p><label for="bestBeer">Tu mejor cerveza?</label>
<input type="text" name="bestBeer" placeholder="La tuya"></p>

<p><label for="worstBeer">La peor cerveza que te has tomado?</label>
<input type="text" name="worstBeer" placeholder="Corona"></p>

<p><label for="celebBeer">¿Con qué cerveza te gusta celebrar?</label>
<input type="string" name="celebBeer" placeholder="No lo Se"></p>

<p><label for="beerStyle">¿Qué estilo de cerveza es tu favorito?</label>
<input type="text" name = "beerStyle" placeholder="Pale Ale, Lager, Stout?"> </p>

<label for="beerHead">Del 1 al 10, ¿Cuán espumosa te gusta tu cerveza?</label>
<input type="range" value="10" name="beerHead"></p>

<p><label for="beerGas">Del 1 al 10, ¿Qué tan gaseosa te gusta tu cerveza?</label>
<input type="range" value = "10" name = "beerGas"></p>

<p><label for="beerAlc">¿Cómo te gusta el acohol en la cerveza?</label>
<select name = "beerAlc" form = "onBoard" >
  <option value="Muy presente">Muy presente</option>
  <option value="Balanceado">Balanceado</option>
  <option value="Ligero">Ligero</option>
  <option value="Imperceptible">Imperceptible</option>
</select></p>

<p><label for="beerBitt">¿Qué tan amarga te gusta?</label>
<input type="range" value = 10 name = "beerBitt"></p>