<div class="seleccion-cervezas">

</div>

<form action="/onboard" id="onBoard">Contesta</form>

<label for="username">Nombre de Usuario</label>
<input type="text" name="username" placeholder="Nombre de usario">

<label for="passowrd">Passowrd</label>
<input type="password" name="password" placeholder="Correo Electronico">
{{!-- 
<label for="bestBeer">¿Tu mejor cerveza?</label>
<input type="text" name="bestBeer" placeholder="La tuya"> --}}
<label for="bestBeer">¿Tu mejor cerveza?</label>
<select name="bestBeer" form="bestBeer" >
  {{#each consumedBeer}}
    <option value="{{consumedBeer}}">{{consumedBeer}}</option>
  {{/each}}
</select>

<label for="worstBeer">¿La peor cerveza que te has tomado?</label>
<input type="text" name="worstBeer" placeholder="Corona">

<label for="celebBeer">¿Con qué cerveza te gusta celebrar?</label>
<input type="string" name="celebBeer" placeholder="No lo Se">

<label for="beerStyle">¿Qué estilo de cerveza es tu favorito?</label>
<input type="text" name = "beerStyle" placeholder="Pale Ale, Lager, Stout?"> 

<label for="beerHead">Del 1 al 10, ¿Cuán espumosa te gusta tu cerveza?</label>
<input type="range" value="10" name="beerHead">

<label for="beerGas">Del 1 al 10, ¿Qué tan gaseosa te gusta tu cerveza?</label>
<input type="range" value = "10" name = "beerGas">

<label for="beerAlc">¿Cómo te gusta el alcohol den la cerveza?</label>
<select name = "beerAlc" form = "onBoard" >
  <option value="Muy presente">Muy presente</option>
  <option value="Balanceado">Balanceado</option>
  <option value="Ligero">Ligero</option>
  <option value="Imperceptible">Imperceptible</option>
</select>

<label for="beerBitt">¿Qué tan amarga te gusta?</label>
<input type="range" value = 10 name = "beerBitt">