<h1>Felicidades</h1>
<h1>¡Esta es tu receta!</h1>

<blockquote>Acabas de contribuir exitosamente con la diversidad cervecera</blockquote>

<div id="printRecipe">
<p>
  -
  <br>
  -
  <br>
  -
  <br>
  -
</p>
</div>


<small>En unos días </small>