/* Breakpoints */
$break-tablet: 766px;
$break-laptop: 990px;
$break-large : 1260px;

/* Beer card vars */
$beer-content-width: 80%;

/* Colors */
$orange : #EB8A1E;
$burgundy : #800041;
$link: #00B7FF;

a:-webkit-any-link { 
  color: inherit;
  text-decoration: inherit;
}

/* Aplicación general */
html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  margin: 0;
  padding: 1vh;
  background-color: $orange;
  position: sticky;
  top: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.nav-link {
  margin: 0.5vh 1vw;
  padding: 0.5vh 0.5vw;
  display: inline-block;
  color: white !important;
  text-decoration: none !important;
  font-size: 14pt;
  line-height: 0;
  font-family: 'Montserrat', sans-serif
}

/* Secciones y layout */
.dictionary-card {
  background-color: $orange;

}

.beer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin: 0 auto;
  width: 33%;
  display: flex;
  flex-flow : column wrap;
  align-items: center;
  justify-content: space-evenly;
}

.segmentacion {
  height: 30vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.conjugacion {
  height: 40vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}

footer {
  width: 100vw;
  height: 5vh;
  background-color: $orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif
}

/* Estilo de componentes */
h1 { /* Título */
  font-size: 54pt;
  text-align: center;
  margin: 3vh;
  font-style: italic;
  font-family: 'Montserrat', sans-serif
}

.dictionary-entry {
  color: white;
  @media screen and (min-width: $break-laptop) {
    width: 40vw;
    padding: 50px 20px 50px;
  }
}

.etimologia {
  color: $burgundy;
}

.btn-container a {
  width: 80%;
  cursor: inherit;
}

.btn-index {
  width: 100%;
  margin: 1vh;
  padding: 1vh 0;
  text-align: center;
  border: 3px solid $orange;
  border-radius: 25px;
  background-color: white;
  color: $orange;
  font-size: 16pt;
  font-weight: normal;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.btn-index--burgundy {
  width: 100%;
  margin: 1vh;
  padding: 1vh 0;
  text-align: center;
  border: 3px solid $burgundy;
  border-radius: 3px;
  background-color: white;
  color: $burgundy;
  font-size: 16pt;
  cursor: pointer;
}

.conjugacion-message {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-conjugacion {
  width: 33vw;
  margin: 2vh 6vw 4vh 1vw;
  padding: 0 3vw;
  border-collapse: collapse;
  border-style: hidden;
} 

.tabla-conjugacion td, .tabla-conjugacion th {
  border: 3px solid $orange;
  padding: 1.5vh 0.5vw;
}

.footer-message {
  width: 33%;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

/* Páginas cervezas */

.beer-card {
  height: 80%;
  width: 33%;
  margin: 1% 0;
  padding: 0 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // overflow: scroll;
}

.beer-img {
  height: 50%;
  width: $beer-content-width;
  margin: 2%;
  border: 2px solid black;
}

.beer-link {
  width: $beer-content-width;
}

.beer-content {
  height: 46%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.beer-content * {
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}

#logoYc{
  background: #EB8A1E
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: scale-down;
  }
p{
    font-family: 'Montserrat', sans-serif;
  }

.logoDiv{
background-color: #EB8A1E
  }

  #logoNav{
    width: 40%vh;
    height: 45px;
  }