<h1>
  Bienvenido de nuevo!
</h1>
<div class="login-group">

<form action="/login" method="post">
  <label for="username">Usuario</label><br>
  <input type="text" name="username">
  <br>
  <label for="password">Contraseña</label><br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Enviar" class="btn-index">
</form>
</div>